*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.add-to-cart-btn {
    background: #1e56a0;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
}

/* 5. 인증 (로그인/회원가입) */
.auth-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container h2 {
    font-weight: 700;
    font-size: 30px;
    color: #1e56a0;
    margin-bottom: 25px;
}


.auth-btn{
    background: #1e56a0;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 6px;
    font-weight: 600;
    font-size: 18px;
    color:#dffd34;
}


.auth-btn:hover {
    background: #dffd34;
    transform: translateY(-2px);
    color: #2b59a2;
    font-weight: 900;
    font-size: 14px;

}

.auth-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}